.builder {
  background-color: var(--clr-grayBg);
  transition: background-color 1s;
}

.builder p {
  font-size: var(--fs-h5);
}

.builder-title {
  padding-top: 80px;
  margin-top: 0;
}

.builder1-parent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;
  border-bottom: 1px solid var(--clr-dark);
}

.builder1-child_container {
  max-width: 30em;
  align-self: flex-start;
}

.sticky {
  position: sticky;
  top: 170px;
}

.builder-last_p {
  margin-bottom: 13.5em;
}

.builder1-h3 {
  line-height: 1;
}

#builder1-h3_first {
  margin-top: 0;
}

.builder-img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.builder1,
.builder2 {
  width: 55em;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* filter: invert(1) saturate(0); */
}

.builder-spacing {
  margin-bottom: 20rem;
}

.builder-last_p {
  margin-bottom: 20rem;
}

.builder-cta_parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.builder-cta {
  margin: 0 1em 0 0;
  padding: 3em 0;
}

@media (max-width: 1730px) {
  .builder1,
  .builder2 {
    width: 40em;
  }
}

@media (max-width: 1250px) {
  .builder {
    text-align: center;
  }

  .builder1-parent {
    flex-direction: column;
    justify-content: center;
  }

  .sticky {
    position: static;
  }

  #builder1-h3_first span {
    display: none;
  }

  #builder1-h3_first:after {
    content: 'Powerful Tools';
  }

  .builder1-child_container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    /* align-self: center; */
    margin-bottom: 5rem;
  }

  .builder1-child_container1 {
    margin-right: 5em;
  }

  .builder-last_p {
    margin-bottom: 5em;
  }

  .builder-spacing {
    margin-bottom: 5rem;
  }
}

@media (max-width: 600px) {
  .builder1,
  .builder2 {
    width: 25em;
  }

  .builder1-child_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 5rem;
  }

  .builder1-child_container1 {
    margin-right: 0;
  }
}
