@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-30 {
  -webkit-animation: rotating 30s linear infinite;
  -moz-animation: rotating 30s linear infinite;
  -ms-animation: rotating 30s linear infinite;
  -o-animation: rotating 30s linear infinite;
  animation: rotating 30s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-40 {
  -webkit-animation: rotating 40s linear infinite;
  -moz-animation: rotating 40s linear infinite;
  -ms-animation: rotating 40s linear infinite;
  -o-animation: rotating 40s linear infinite;
  animation: rotating 40s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-50 {
  -webkit-animation: rotating 50s linear infinite;
  -moz-animation: rotating 50s linear infinite;
  -ms-animation: rotating 50s linear infinite;
  -o-animation: rotating 50s linear infinite;
  animation: rotating 50s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-70 {
  -webkit-animation: rotating 70s linear infinite;
  -moz-animation: rotating 70s linear infinite;
  -ms-animation: rotating 70s linear infinite;
  -o-animation: rotating 70s linear infinite;
  animation: rotating 70s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-90 {
  -webkit-animation: rotating 90s linear infinite;
  -moz-animation: rotating 90s linear infinite;
  -ms-animation: rotating 90s linear infinite;
  -o-animation: rotating 90s linear infinite;
  animation: rotating 90s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating-100 {
  -webkit-animation: rotating 100s linear infinite;
  -moz-animation: rotating 100s linear infinite;
  -ms-animation: rotating 100s linear infinite;
  -o-animation: rotating 100s linear infinite;
  animation: rotating 100s linear infinite;
}

.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.3, 1.3, 1.3);
    transform: scale3d(1.3, 1.3, 1.3);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

.pulsate {
  -webkit-animation-name: pulsate;
  animation-name: pulsate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.pulsate2 {
  -webkit-animation-name: pulsate;
  animation-name: pulsate;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes alive {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes alive {
  from {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
  }

  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.alive {
  -webkit-animation-name: alive;
  animation-name: alive;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes box1 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }

  50% {
    -webkit-transform: translate(-50px, 100px)
      matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(-50px, 100px) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }
}

@keyframes box1 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }

  50% {
    -webkit-transform: translate(-50px, 100px)
      matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(-50px, 100px) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 46.9085, 65.489);
  }
}

.box1 {
  -webkit-animation-name: box1;
  animation-name: box1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes box2 {
  from {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 100px);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 100px);
  }

  to {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
  }
}

@keyframes box2 {
  from {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 100px);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 100px);
  }

  to {
    -webkit-transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 191.909, 65.489) translate(0, 0);
  }
}

.box2 {
  -webkit-animation-name: box2;
  animation-name: box2;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes box3 {
  from {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, -100px);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, -100px);
  }

  to {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
  }
}

@keyframes box3 {
  from {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
  }

  50% {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, -100px);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, -100px);
  }

  to {
    -webkit-transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
    transform: matrix(1, 0, 0, 1, 336.909, 65.489) translate(0, 0);
  }
}

.box3 {
  -webkit-animation-name: box3;
  animation-name: box3;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes box4 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
  }

  50% {
    -webkit-transform: translate(50px, -100px)
      matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(50px, -100px) matrix(1, 0, 0, 1, 481.909, 65.489);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
  }
}

@keyframes box4 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
  }

  50% {
    -webkit-transform: translate(50px, -100px)
      matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(50px, -100px) matrix(1, 0, 0, 1, 481.909, 65.489);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
    transform: translate(0, 0) matrix(1, 0, 0, 1, 481.909, 65.489);
  }
}

.box4 {
  -webkit-animation-name: box4;
  animation-name: box4;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes box5 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }

  50% {
    -webkit-transform: translate(0, 100px)
      matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 100px) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }
}

@keyframes box5 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }

  50% {
    -webkit-transform: translate(0, 100px)
      matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 100px) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 40, -8.21311);
  }
}

.box5 {
  -webkit-animation-name: box5;
  animation-name: box5;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes box6 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }

  50% {
    -webkit-transform: translate(0, -100px)
      matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, -100px) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }
}

@keyframes box6 {
  from {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }

  50% {
    -webkit-transform: translate(0, -100px)
      matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, -100px) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }

  to {
    -webkit-transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
    transform: translate(0, 0) matrix(1, 0, 0, 1.10656, 330, -8.21311);
  }
}

.box6 {
  -webkit-animation-name: box6;
  animation-name: box6;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes flower1 {
  from {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  50% {
    -webkit-transform: skew(0, 5deg);
    transform: skew(0, 5deg);
  }
  to {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

@keyframes flower1 {
  from {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  50% {
    -webkit-transform: skew(0, 5deg);
    transform: skew(0deg, 5deg);
  }
  to {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

.flower1 {
  -webkit-animation-name: flower1;
  animation-name: flower1;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}

@-webkit-keyframes flower2 {
  from {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  50% {
    -webkit-transform: skew(0, 5deg);
    transform: skew(0, 5deg);
  }
  to {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

@keyframes flower2 {
  from {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
  50% {
    -webkit-transform: skew(0, 5deg);
    transform: skew(0deg, 5deg);
  }
  to {
    -webkit-transform: skew(0, 0);
    transform: skew(0, 0);
  }
}

.flower2 {
  -webkit-animation-name: flower2;
  animation-name: flower2;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
