.features-title {
  margin: 0;
  line-height: 1;
}

.features-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-svg_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 11em;
  height: 11em;
  /* border-radius: 5px; */
  /* background-color: #ff921f; */
  /* box-shadow: 0 0 50px #ff921f; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.5s;
}

.features-svg_container:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  /* border-radius: 50%; */
}

.features-svg {
  width: 7em;
}

.bg-orange {
  background-color: #ff921f;
}

.bg-green {
  background-color: #00994d;
}

.bg-red {
  background-color: #ff615d;
}

.bg-blue {
  background-color: #059bc4;
}

.features-info_container {
  /* background-color: #ff921f; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em;
  /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); */
  /* transition: all 0.3s; */
}

.features-h3 {
  margin-top: 0;
  line-height: 1;
}

.features-p {
  font-size: var(--fs-h5);
  text-align: center;
  max-width: 60em;
  margin: 0 0 40px 0;
}

.triangle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5.5em solid transparent;
  border-right: 5.5em solid transparent;
}

@media (max-width: 1000px) {
  .features-svg_container {
    width: 9em;
    height: 9em;
  }

  .features-svg {
    width: 5em;
  }

  .triangle-container {
    display: none;
  }
}

@media (max-width: 850px) {
  .features-boxes_container {
    width: 90% !important;
  }

  .triangle-container {
    display: none;
    width: 90% !important;
  }
}

@media (max-width: 600px) {
  .features-svg_container {
    width: 7em;
    height: 7em;
  }

  .features-svg {
    width: 4em;
  }
}

@media (max-width: 500px) {
  .features-svg_container {
    width: 6em;
    height: 6em;
  }

  .features-svg {
    width: 3.5em;
  }
}
