.information {
  border-bottom: 1px solid #d0d4d9;
}

.information-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  gap: 3em;
}

.information-title {
  text-align: center;
}

.information-child {
  margin-bottom: 5em;
}

.information-h4 {
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
}

.information-p {
  max-width: 20em;
  font-size: var(--fs-h5);
}
